<ion-view title="STANDPIPE AND HOSE SYSTEMS Form 7-F " id="page3" class=" ">
  <ion-content padding="true" class="has-header">

    <form id="sTANDPIPEANDHOSESYSTEMSForm7F-form4" class="list ">
      <label class="item item-input " id="sTANDPIPEANDHOSESYSTEMSForm7F-input2">
        <span class="input-label">Date</span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-select " id="sTANDPIPEANDHOSESYSTEMSForm7F-select1">
        <span class="input-label">Inspector</span>
        <select>
          <option>Josh Hinkle</option>
          <option>Scott Bailey</option>
          <option>Andy Messer</option>
          <option>Dave Kelly</option>
          <option>David Zink</option>
          <option>Dan Ubelhor</option>
          <option>Kipp Shinabarger</option>

        </select>
      </label>
      <label class="item item-input " id="sTANDPIPEANDHOSESYSTEMSForm7F-textarea1">
        <span class="input-label">System (Which one)</span>
        <textarea placeholder=""></textarea>
      </label>



       <label class="item item-select " id="sTANDPIPEANDHOSESYSTEMSForm7F-VisuallyInspectDryPiping">
        <span class="input-label">Visually Inspect Dry Piping</span>
        <select>
          <option>Not Done</option>
          <option>OK</option>
          <option>Not OK (see comment)</option>
        </select>
      </label>


      <label class="item item-input item-stacked-label " id="sTANDPIPEANDHOSESYSTEMSForm7F-input3">
        <span class="input-label">Hose Outlet (location)</span>
        <input type="text" placeholder="">
      </label>


      <label class="item" id="sTANDPIPEANDHOSESYSTEMSForm7F-textlabel">
<h3>Check Nozzles</h3> Test hose nozzles to confirm:
        </label>
      <label class="item item-select " id="sTANDPIPEANDHOSESYSTEMSForm7F-WaterWayClear">
        <span class="input-label">Waterway is clear of obstructions</span>
        <select>
          <option>Not Done</option>
          <option>OK</option>
          <option>Not OK (see comment)</option>
        </select>
      </label>

      <label class="item item-select " id="sTANDPIPEANDHOSESYSTEMSForm7F-NoDamageTip">
        <span class="input-label">No damage to tip</span>
        <select>
          <option>Not Done</option>
          <option>OK</option>
          <option>Not OK (see comment)</option>
        </select>
      </label>

      <label class="item item-select " id="sTANDPIPEANDHOSESYSTEMSForm7F-FullOperation">
        <span class="input-label">Full operation of adjustments</span>
        <select>
          <option>Not Done</option>
          <option>OK</option>
          <option>Not OK (see comment)</option>
        </select>
      </label>

      <label class="item item-select " id="sTANDPIPEANDHOSESYSTEMSForm7F-ProperOperationofShutoff">
        <span class="input-label">Proper operation of shutoff</span>
        <select>
          <option>Not Done</option>
          <option>OK</option>
          <option>Not OK (see comment)</option>
        </select>
      </label>

      <label class="item item-select " id="sTANDPIPEANDHOSESYSTEMSForm7F-NoMissingParts">
        <span class="input-label">No missing parts</span>
        <select>
          <option>Not Done</option>
          <option>OK</option>
          <option>Not OK (see comment)</option>
        </select>
      </label>

      <label class="item item-select " id="sTANDPIPEANDHOSESYSTEMSForm7F-ThreadinGoodCondition">
        <span class="input-label">Thread gasket in good condition</span>
        <select>
          <option>Not Done</option>
          <option>OK</option>
          <option>Not OK (see comment)</option>
        </select>
      </label>

      <label class="item item-select " id="sTANDPIPEANDHOSESYSTEMSForm7F-NozzleCondition">
        <span class="input-label">Nozzles in good condition.</span>
        <select>
          <option>Not Done</option>
          <option>OK</option>
          <option>Not OK (see comment)</option>
        </select>
      </label>


       <label class="item item-select " id="sTANDPIPEANDHOSESYSTEMSForm7F-WaterwayClear">
        <span class="input-label">Waterway is clear of obstructions</span>
        <select>
          <option>Not Done</option>
          <option>OK</option>
          <option>Not OK (see comment)</option>
        </select>
      </label>

      <label class="item item-select " id="sTANDPIPEANDHOSESYSTEMSForm7F-LubricateRacks">
        <span class="input-label">Lubricate Swing-Out Racks</span>
        <select>
          <option>Not Done</option>
          <option>Done</option>
          <option>Not OK (see comment)</option>
        </select>
      </label>


         <label class="item item-select " id="sTANDPIPEANDHOSESYSTEMSForm7F-RErackHose">
        <span class="input-label">Rerack Hose</span>
        <select>
          <option>Not Done</option>
          <option>Done</option>
          <option>Not OK (see comment)</option>
        </select>
      </label>

<!--
<button class="button button-positive" ng-click="showAlert()">
      Alert
    </button>
-->



      <label class="item item-select " id="sTANDPIPEANDHOSESYSTEMSForm7F-DrainTest">
        <span class="input-label">Conduct Main Drain Test</span>
        <select>
          <option>Not Done</option>
          <option>Done</option>
          <option>Not OK (see comment)</option>
        </select>
      </label>

     <h3>Instructional Video:</h3>

      <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="sTANDPIPEANDHOSESYSTEMSForm7F-video1" class=" ">
        <iframe src="https://www.youtube.com/embed/W7NCeRnrp0c?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
      </div>
    </form>
  </ion-content>
</ion-view>
